/*General CSS code + header animation logic + sidebar menu*/
body {
    margin: 5%;
    font-family: "Source Sans Pro", sans-serif;
    color: black;
    background-image: url("../images/cosmos-1853491.jpg");
    background-size: cover;
}

h1, h2, h3{
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
    color: #fc3d21;
}

div,nav, footer{
    z-index: 1;
}

canvas {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

nav {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    position: fixed;
    top: 0;
    width: 90%;
    height: 6%; 
    background: #0b3d91;
    opacity: 0.8; 
    border-radius: 10px;
    padding: 0.5em; 
    margin-top: 1em;
}

nav div{
    width: 5em;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

nav button {
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-weight: bold;
    color: black;
    border: 2px solid #fc3d21;
    border-radius: 4px;
    width: 5em; 
    height: 2.5em;
    overflow: hidden;
    transition: width 0.5s ease, height 0.5s ease, opacity 0.35s , background-color 0.35s ease, transform 0.35s ease, border-radius 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

nav button span{
    transition: opacity 0.6s ease;
}

nav button:hover{
    width: 4em; 
    height: 4em;
    border-radius: 2em; 
    border-color: #0b3d91;
    background-image: url("../images/53852285870_a43ee453ca_6k.jpg");
    background-size: cover;
}

nav button .rocket{
    position: absolute;
    width: 1em;
    height: auto;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, 50%) scale(0);
    transition: transform 0.3 ease-in-out;
}

nav button:hover .rocket{
    transform: translate(-50%, 50%) scale(1);
}

nav button:active .rocket{
    animation: launch 1.2s ease-out forwards;
}

nav button:hover span{
    opacity: 0;
}

nav button:active span{
   opacity: 0;
}

@keyframes launch{
    0%{
        bottom: 20%;
        opacity: 1;
        transform: translate(-50%, 50%) scale(1);
    }
    50%{
        bottom: 75%;
        opacity: 0.8;
        transform: translate(-50%, 0%) scale(1.25);
    }
    100%{
        bottom: 150%;
        opacity: 0;
        transform: translate(-50%, -50%) scale(1.5);
    }
}
nav #title {
    flex: 1;
    text-align: center;
    color: #fc3d21;
    font-size: 3.5em;
    font-weight: bold;
    letter-spacing: 0.5em;
}

nav img {
    max-height: 2.5em;
    width: auto; 
}

/*Page distribution & image caption animation*/

#presentation{
    display: flex;
    background-color: aliceblue;
    margin-top: 15%;
}

#text{
    padding: 1%;
    text-align: justify;
    text-align-last: left;
}

#image-caption{
    position: relative;
    display: inline-block;
    width: fit-content;
    overflow: hidden;
}
#image-caption figcaption{
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: rgba(50, 50, 50, 0.8);
    color: white;
    padding: 2.5%;
    font-size: small;
    text-align: justify;
    text-align-last: left;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.5s, transform 0.5s ease;
}

#image-caption:hover figcaption{
    transform: translateY(0);
    opacity: 1;
}

#cosmos1{
    width: 100%;
    height: 100%;
}
