body {
    font-family: "Source Sans Pro", sans-serif;
    color: black;
    background-image: url("../images/cosmos-1853491.jpg");
    background-size: cover;
}

h1{
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
    color: #fc3d21;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2.5%;
    letter-spacing: 0.2rem;
}

#block{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%)
}
#form{
    display: inline-block;
    justify-items: center;
    background-color: #0b3d91;
    width: 750px;
    height: 500px;
    border-radius: 20px;
}
#login{
    display: grid;
    background-color: #2a910b;
    width: 700px;
    height: 350px;
    border-radius: 20px;
}

