/*General CSS code + header animation logic + sidebar menu*/
body {
    margin: 5%;
    font-family: "Source Sans Pro", sans-serif;
    color: black;
    background-image: url("../images/fondo4.jpg");
    background-size: cover;
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

h1, h2, h3{
    font-family: "NASA", sans-serif;
    text-transform: uppercase;
    color: #fc3d21;
}

header {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    position: fixed;
    top: 0;
    width: 90%;
    height: 6%; 
    background: #0b3d91;
    opacity: 0.8; 
    border-radius: 10px;
    border-style: 1em ridge #fc3d21;
    padding: 0.5em; 
    margin-top: 1em;
}

header div{
    width: 5em;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.menu-toggle {
    position: relative;
    justify-content: center;
    align-items: center;
    background-image: url("../images/fondo7.jpg");
    background-size: cover;
    color: white;
    border-radius: 4px;
    width: 5em; 
    height: 2.5em;
    overflow: hidden;
    transition: width 0.25s ease, height 0.25s ease, opacity 0.35s , background-color 0.35s ease, transform 0.35s ease, border-radius 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.menu-toggle span{
    transition: opacity 0.15s ease;
}

.menu-toggle:hover{
    width: 4em; 
    height: 4em;
    border-radius: 2em; 
    background-image: url("../images/fondo2.jpg");
    background-size: cover;
}
.title {
    flex: 1;
    text-align: center;
    color: #fc3d21;
    font-size: 3.5em;
    font-weight: bold;
    letter-spacing: 0.5em;
}

.logo {
    max-height: 2.5em;
    width: auto;
}

/*Page distribution & image caption animation*/

.presentation{
    display: flex;
    background-color: aliceblue;
    margin-top: 15%;
}

/*Font call*/
@font-face {
    font-family: "NASA";
    src: url("../fonts/Nasa.ttf");
}