*{
    padding: 0;
    margin: 0;
    background-origin: padding-box;
    font-family: 'Roboto', sans-serif;
}

html{
    font-size: 16px;
    background-color: #858585;
}
h1{
    color: #FFF;
    font-size: 2.5em;
    font-weight: bold;
    display: grid;
    place-items: center;
}
.calculator{
    display: grid;
    place-items: center;
}

.calc-container{
    background-color: #504c4c;

    max-width: 50%;
    min-width: 35%;
    
    border-radius: 15px;
    border: 1px solid #1d1d1d;
}

.output{
    width: 100%;
}   

.operation{
    width: 100%;
    height: 100px;

    color: #000000;

    font-size: clamp(2em, 2.5vw, 2.5em);
    font-weight: bold;
    text-align: right;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    
    overflow: hidden;
}
.operation .value{
    position: relative;

    bottom: 5px;
    right : 10px;
    
    white-space: nowrap;
    overflow: hidden;
}

.result{
    width: 100%;
    height: 50px;

    color: #1b1b1b;

    font-size: clamp(1.5em, 2.5vw, 2.5em);
    font-weight: bold;
    
    overflow: hidden;
    position: relative;
}

.result .value{
    top: 50%;
    transform: translateY(-50%);
    right : 10px;
    
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
}


.input{
    background-color: #FFF;

    border-radius: 5px 5px 12px 12px;
    border: 1px solid #1d1d1d;
    max-height: 350px;
    min-height: 40%;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.row button{
    min-width: 10%;
    min-height: 10%;

    font-size: 80%;

    border-radius: 20%;
    background-color: transparent;

    margin : 1%;
    padding: 2%;

    cursor: pointer;
}

.row button:hover{
    font-weight: bold;
    color: #FFF;
    background-color: #000000;
}

.row #calculate{
    color: #000000;
    background-color: #46e0bc;
    width : 125px;
    border-radius: 12px;
}
.row #calculate:hover{
    color: #FFF;
    background-color: #007257;
}
.row #delete{
    color: #FFF;
    background-color: #e05046;
}
.row #delete:hover{
    color: #000000;
    background-color: #992018;
}
.row #division, #multiplication, #subtraction, #addition {
    color: #000000;
}
.row #division:hover, #multiplication:hover, #subtraction:hover, #addition:hover {
    color: #FFF;
    background-color: #000000;
}
.input button span{
    font-size: 0.6em;
    position: absolute;
}

.active-angle{
    background-color: #1d1d1d !important;
    color: #FFF !important;
    border-radius: 10px !important;
}